<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_2.css' %}">
</head>

<body style="color: #cd5601; background-color: black;">
    <a href="/" style="color: #cd5601; font-size: 20px;">Back Home</a>
    <h1 style="margin-left: 600px; text-decoration: underline;">Our Location</h1>
    <div id="map"></div>
    <div class="address">
        <a href="https://www.google.com/maps/place/21816+Lanark+St,+Canoga+Park,+CA+91304/@34.2170853,-118.6063466,17z/data=!3m1!4b1!4m5!3m4!1s0x80c29c5de5be130f:0x1220de1930729396!8m2!3d34.2170853!4d-118.6041526"
            style="color: #cd5601;">21816 Lanark St.<br>Canoga Park, CA 91304</a>
    </div>
    <div class="email">
        <h1 style="margin-left: 120px; text-decoration: underline;">Contact Us</h1>
        <p><a href="mailto:tenniscoachca@gmail.com" style="color: #cd5601; font-size: 20px; margin-left: 100px;">tenniscoachca@gmail.com</a></p>
        <p style="margin-left: 180px; font-size: 20px;">or</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_MC8zB5CtakgF6edYLEH6ZZ_Jn2eMAMA&callback=initMap"
    type="text/javascript"></script>
<script>
    console.log("Our script is running")
    function initMap() {
        console.log("Initialize Map")
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': "21816 Lanark St. Canoga Park, CA 91304" }, function (results, status) {
            if (status == 'OK') {
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 10,
                    center: results[0].geometry.location,
                });
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    zoom: 8
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

</html>